.sign-in-and-sign-up {
  width: 100%;
  margin:0 auto;
  padding-top: 2em;
   display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-image:url('https://www.hollidayjewelry.com/images/homepage/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh
}